[id=about] {
  width: 90%;
  margin: 0px auto;

}

  @media (min-width: 1200px) {
    [id=about] 
    section {
      margin: 50px 100px;
      width: calc(100% - 200px);
      padding: 0 100px;
    }
    .about__collapse {
      .collapse {
        width: 90%;
      
    }
  }
}