[id=rental] {
    margin: 20px;
    display: flex;
    flex-flow: column;
  
    & > section {
      display: flex;
      flex-flow: column;
    }
  
    h1 {
      font-weight: 500;
      color: var(--primary-color);
      margin-bottom: 10px;
    }
  
    header {
      display: flex;
      flex-direction: column;


      & > ul {
        display: flex;
        flex-flow: wrap;
        gap: 20px;
        margin: 20px 0;
        list-style: none;
        padding: 0;
  
        label {
          border-radius: 5px;
          padding: 5px 10px;
          background-color: var(--primary-color);
          color: var(--white);
          display: inline-block;
          
        }
      }
  
      & + figure {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
}
