[id=home] {
  margin: 20px auto;

    .accomodation-list {
        display: flex;
        flex-wrap: wrap; 
        gap: 20px;
    }

    accommodation-card {
        width: 100%;
    }
}


  @media (min-width: 1200px) {
    [id='home'] {
      margin: 50px 100px;
    }

    .accomodation-list {
      gap: 30px;
      justify-content: center;
      background-color: var(--grey);
      padding: 30px;
      border-radius: 10px;
    }
    .accommodation-card {
      width: calc((100% - 40px) / 3);
    }
  }







