[id=home] {
    margin: 20px;

    .accomodation-list {
        display: flex;
        flex-wrap: wrap; 
    }

    accommodation-card {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    [id=home] {
        margin: 50px 100px;
      }
    
    .accomodation-list {
        gap: 30px;
        background-color: var(--grey);
        padding: 30px;
        border-radius: 10px;
    }
    .accommodation-card {
        width: calc((100% - 60px) / 3);
    }
}






