.collapse {
    margin: 10px 0;
    padding: 0.5em 0.1em 0.5em 0.1em;
    z-index: 1;
    width : 100%;


    .collapse-title {
        background-color: var(--primary-color);
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 0.5em 0.1em 0.5em 0.1em;
        font-size: 1rem;
        font-weight: 500;
    
        color: var(--white);
    }

    .collapse-content {
        padding: 10px;
        background-color: var(--grey);

    }
}