.carousel {
    position: relative;
    color: var(--white);
  
    img {
      border-radius: 10px;
      height: 255px;
      width: 100%;
      object-fit: cover;
    }
  
    nav  {
      position: absolute;
      top : 50%;
      width : 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    i {
      font-size: 1.5rem;
      cursor: pointer;
    }
  
    .fa-chevron-left {
      margin-left: 10px;
    }
  
    .fa-chevron-right {
      margin-right: 10px;
    }
  
    b {
      display: none;
      
    }

}

/*.carousel-counter {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 14px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
}*/