@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

:root {
  --primary-color: #FF6060;
  --secondary-color: #e3e3e3;
  --white: #ffffff;
  --black: #000000;
  --grey : #fafafa;
  --filter:hsla(0, 0%, 0%, 0.5);
}

body {
 
}


