.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.8rem;

    img {
        height: 48px;
    }

    ul {
        display: flex;
        gap: 20px;
        list-style: none;
        text-transform: uppercase;
    }

    .link {
        text-decoration: none;
        color: var (--black);
    }

    .active,
    .link:hover,
    .link:focus {
        text-decoration: underline;
    }

    /*li {
        margin-left: 70px;

        .link {
            text-decoration: none;
            color: #000000;
            font-size: 1.5rem;
        }

        .active {
            text-decoration: underline;

        }
    }*/
}

@media (min-width: 1200px) {
    .nav {
    margin: 50px 100px;
    font-size: 1.5rem;
    }

    img {
      height: 68px;
    }

    ul {
      gap: 4rem;
    }
  }