.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-size: 0.8rem;

    img {
        height: 48px;
    }

    ul {
        display: flex;
        gap: 2rem;
        list-style: none;
        text-transform: uppercase;
    }

    .link {
        text-decoration: none;
        color: #000000;
    }

    .active,
    .link:hover,
    .link:focus {
        text-decoration: underline;
    }

    /*li {
        margin-left: 70px;

        .link {
            text-decoration: none;
            color: #000000;
            font-size: 1.5rem;
        }

        .active {
            text-decoration: underline;

        }
    }*/
}