.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
   

    img {
        height: 48px;
    }

    ul {
        display: flex;
        gap: 20px;
        font-size: 0.8rem;
        list-style: none;
        text-transform: uppercase;
    }

    .link {
        text-decoration: none;
        color: var (--black);
    }

    .active,
    .link:hover,
    .link:focus {
        text-decoration: underline;
    }

    /*li {
        margin-left: 70px;

        .link {
            text-decoration: none;
            color: #000000;
            font-size: 1.5rem;
        }

        .active {
            text-decoration: underline;

        }
    }*/
}

@media (min-width: 1200px) {
    .nav {
      width: 90%;
      margin: auto;
      font-size: 1,5rem;
      
      
    }
  
    img {
      height: 68px;
    }
  
    ul  {
      display: flex;
      gap: 40px;

      }

    .link {
      font-size: 1.2rem;
      text-transform: capitalize;
    }
  
  }
