.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 20px;
    margin-bottom: 20px;
    height: 110px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    

    img {
        position: absolute;
        object-fit: cover;
        border-radius: 10px;
        height: 110px;
        width: 100%;
        filter: brightness(0.5);
    }

    h1 {
        position: relative;
        z-index: 1;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0 20px;
        color: var(--white);

    }
}
